<script src="/Scripts/spinner.js"></script>

<div class="col-lg-offset-3 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading-main ">
            Welcome to Whatdo!
        </div>
        <div class="panel panel-body">
            <p class="headings">Spin the wheel!</p>
            <div id="spinner" class="center-block">
                <div id="spinner-wheel"></div>
                <div id="spinner-button"></div>
            </div>
            <hr />
            <p class="headings">Click on the results</p>
            <div class="text-center">
                <a class="btn btn-red" href="#/romantic">Romantic</a>
                <a class="btn btn-pink" href="#/entertainment">Entertainment</a>
                <a class="btn btn-blue" href="#/drinks">Drinks</a>
            </div>
            <div class="text-center ">
                <a class="btn btn-purple" href="#/interest">Interests</a>                 <!--Purple-->
                <a class="btn btn-yellow" href="#/shopping">Shopping</a>              <!--Yellow-->
                <a class="btn btn-orange" href="#/random">Random</a>                       <!--Orange-->
            </div>
            <hr />
        </div>
    </div>
</div>

